[type="datetime-local"]::-webkit-inner-spin-button,
[type="datetime-local"]::-webkit-calendar-picker-indicator {
	opacity: 0;
}
[type="datetime-local"]::-webkit-clear-button,
[type="time"]::-webkit-clear-button,
[type="date"]::-webkit-clear-button
{
	display: none;
}
#app {
	padding-bottom: calc(40px + .4rem);
}
.reconcile {
	background-color: #3498DB;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.3rem;
}
.tab {
	position: fixed;
	bottom: -.2rem;
	width: 100%;
	display: flex;
	justify-content: center;
	border-top: .05rem solid #BCC3CE;
}
.tab .tab-item {
	flex-grow: 1;
	padding: .65rem;
	text-align: center;
}
.tab .tab-item:not(.active) {
	opacity: .5;
}
.bg-white {
	background-color: white !important;
}
.bg-primary {
	background-color: #7B68A8 !important;
	color: white !important;
}
.bg-warning {
	background-color: #FEC107 !important;
	color: white !important;
}
.bg-grey {
	background-color: #9E9E9E !important;
	color: white !important;
}
.bg-positive {
	background-color: #48a57a !important;
	color: white !important;
}
.bg-negative {
	background-color: #F0756C !important;
	color: white !important;
}
.text-primary {
	color: #7B68A8 !important;
}
.text-positive {
	color: #48a57a !important;
}
.text-negative {
	color: #F0756C !important;
}
.text-ellipsis {
	position: absolute;
	white-space: nowrap;
	overflow-x: hidden;
	width: 100%;
}
.text-nowrap {
	white-space: nowrap;
}
.btn {
	box-shadow: none !important;
}
.btn:not(.btn-primary) {
	border: .05rem solid #7B68A8;
	color: #7B68A8;
}
.btn.btn-primary {
	background: #7B68A8 !important;
	border-color: #7B68A8 !important;
	color: #fff !important;
}
.form-input, .form-select, .btn {
	border-radius: .25rem;
}
.input-group .form-input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.input-group .form-input ~ .input-group-addon {
	border-color: transparent;
}
.input-group .form-input ~ .input-group-addon:last-child {
	border-top-right-radius: .25rem !important;
	border-bottom-right-radius: .25rem !important;
}
.form-input:focus {
	box-shadow: none;
}
.no-events {
	pointer-events: none;
}
.flex-grow-2 {
	flex-grow: 2;
}
.modal.active .modal-overlay,
.modal:target .modal-overlay {
	background: rgba(25,25,25,.75);
}
.navbar {
	width: 100%;
	padding: .4rem;
	position: fixed;
	top: 0;
	z-index: 10;
}
.navbar + form {
	margin-top: 52px;
}
.navbar + table {
	margin-top: calc(52px + .4rem);
}
.z-1 {
	z-index: 100;
}
.rounded-right {
	border-top-right-radius: .25rem !important;
	border-bottom-right-radius: .25rem !important;
}
.table {
	border-collapse: separate;
	border: 1px solid #DADEE4;
	border-bottom: 0;
	border-radius: .25rem;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - .8rem);
	overflow: hidden;
}
.table td, .table th {
	padding: .4rem .4rem;
}
.pt-1 { padding-top: .2rem; }
.pt-2 { padding-top: .4rem; }
.pt-3 { padding-top: .6rem; }
.pt-4 { padding-top: .8rem; }
.pt-5 { padding-top: 1rem; }
.pb-1 { padding-bottom: .2rem; }
.pb-2 { padding-bottom: .4rem; }
.pb-3 { padding-bottom: .6rem; }
.pb-4 { padding-bottom: .8rem; }
.pb-5 { padding-bottom: 1rem; }
.w-100 {
	width: 100%;
}
.invi {
	opacity: 0;
}
.d-flex { display: flex; }
.align-items-center { align-items: center; }
.input-group .form-input:first-child:not(:last-child),
.input-group .form-select:first-child:not(:last-child),
.input-group .input-group-addon:first-child:not(:last-child),
.input-group .input-group-btn:first-child:not(:last-child) {
	border-right: 0;
}
.col-4 {
	width: 28%;
}
.col-8 {
	width: 72%;
}
.icon-plus-circle:before,
.icon-disc:before
{
	transform: translateY(1px);
	display: inline-block;
}
progress.progress {
	position: absolute;
	top: 52px;
	left: 0;
	background: #eef0f3 linear-gradient(to right,#E91D62 30%,#EEF0F3 30%) top left/150% 150% no-repeat !important;
}

.amount-group {
	position: absolute;
	top: 0;
	right: 0;
	background: #BEACE7;
	color: white;
	padding-right: 8px;
	min-width: 60px;
	font-size: .6rem;
}
.amount-group:after {
	content: '';
	border: 10px solid transparent;
	position: absolute;
	border-top: 18px solid #BEACE7;
	top: 0;
	left: -10px;
}
#clipboard {
	position: absolute;
	top: -200px;
}