<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Singgit</title>
		<link rel="manifest" href="manifest.json">
		<link rel="icon" type="image/png" href="img/favicon.png" />
		<link rel="stylesheet" href="lib/spectre/spectre-exp.min.css">
		<link rel="stylesheet" href="lib/spectre/spectre.min.css">
		<link rel="stylesheet" href="font/style.css">
		<link rel="stylesheet" href="app.css">
	</head>

	<body>
		<div id="app">
			<template v-if="page=='new' || page=='edit'">
				<header class="navbar bg-primary">
					<section class="navbar-section text-capitalize">
						{{page}} Transaction
					</section>
					<section class="navbar-section">
						<label class="form-label">{{version}}</label>
					</section>
				</header>
				<form class="form-horizontal column" @click="autoComplete.show=false">
					<div class="form-group">
						<div class="col-4">
							<label class="form-label">Amount</label>
						</div>
						<!-- <div class="col-8">
							<input class="form-input" type="text" v-model="form.amount">
						</div> -->
						<div class="col-8 input-group">
							<input class="form-input" type="text" v-model="form.amount" @input="form.amount=form.amount.replace(/,/gi, '')">
							<span class="input-group-addon" :class="form.negative?'bg-negative':'bg-positive'" @click="form.negative=!form.negative"><i :class="form.negative?'icon-minus':'icon-plus'"></i></span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-4">
							<label class="form-label">Description</label>
						</div>
						<div class="col-8 p-relative">
							<input class="form-input" type="text" v-model="form.description" @input.stop="autoComplete.show=true">
							<ul v-if="autoComplete.show && autoCompleteItems.length" class="menu p-absolute w-100">
								<li class="menu-item" v-for="(item, index) in autoCompleteItems" @click="autoComplete.select(item)">
									<div class="p-relative">
										<div class="text-ellipsis">
											{{item[2]}}
										</div>
										<div class="invi no-events">x</div>
									</div>
									<div>{{item[0]+(item[3]?' ➔ '+item[3]:'')}}</div>
									<div class="divider" v-if="index!=4"></div>
								</li>
							</ul>
						</div>
					</div>
					<div class="form-group">
						<div class="col-4">
							<label class="form-label">Account</label>
						</div>
						<div class="col-8">
							<select class="form-select" v-model="form.account">
								<option v-for="item in lov.account" :value="item">{{item}}</option>,
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-4">
							<label class="form-label">Transfer To</label>
						</div>
						<div class="col-8">
							<select class="form-select" v-model="form.transferto">
								<option v-for="item in lov.account" :value="item">{{item}}</option>,
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-4">
							<label class="form-label">Category</label>
						</div>
						<div class="col-8">
							<select class="form-select" v-model="form.category">
								<option v-for="(item, index) in lov.category" :value="item">{{item}}</option>,
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-4">
							<label class="form-label">Date</label>
						</div>
						<div class="col-8 input-group p-relative">
							<input class="form-input rounded-right" type="datetime-local" v-model="form.date" style="width:calc(100% - 34px); flex:none;">
							<span class="input-group-addon bg-primary no-events p-absolute z-1" style="right:34px"><i class="form-icon icon-calendar"></i></span>
							<span class="input-group-addon bg-primary p-absolute z-1" style="right:0" @click="form.date=moment().format('YYYY-MM-DDTHH:mm');"><i class="form-icon icon-disc"></i></span>
						</div>
						<!-- <div class="col-8 input-group p-relative">
							<input class="form-input no-events" type="text" :value="formDateFormatted">
							<span class="input-group-addon bg-primary no-events"><i class="form-icon icon-calendar"></i></span>
							<input class="form-input p-absolute" type="datetime-local" v-model="form.date" style="z-index:0; top:0; right:0; width:100%; opacity:0;">
						</div> -->
					</div>
				</form>
				<div class="btn-group btn-group-block column">
					<button class="btn btn-primary" @click="transaction.save(false, true)"><i class="icon-plus-circle"></i> <i class="icon-plus-circle"></i></button>
					<button class="btn btn-primary" @click="transaction.save(false)"><i class="icon-plus-circle"></i></button>
					<button v-if="page=='edit'" class="btn btn-primary" @click="transaction.save(true)"><i class="icon-save"></i></button>
					<button v-if="page=='edit'" class="btn btn-primary" @click="transaction.remove()"><i class="icon-trash"></i></button>
				</div>
			</template>

			<template v-else-if="page=='transactions'">
				<header class="navbar bg-primary">
					<section class="navbar-section">
						<input class="form-input" type="text" v-model="transaction.filter" placeholder="search">
					</section>
				</header>
				<table class="table" v-if="filteredTransactions.length">
					<tr v-for="item in filteredTransactions" @click="transaction.edit(item)">
						<td width="1" class="text-primary text-bold">{{moment(item.date).format('DDMM')}}<br>{{moment(item.date).format('YYYY')}}</td>
						<td class="pl-0">
							<div class="p-relative">
								<div class="text-ellipsis">
									{{item.description}}
								</div>
								<div class="invi no-events">x</div>
							</div>
							<div>{{item.category+': '+item.account+(item.transferto?' ➔ '+item.transferto:'')}}</div>
						</td>
						<td width="1" class="text-right pl-0" :class="(item.amount<0 || (item.category=='Transfer' && item.transferto.toUpperCase().indexOf(transaction.filter.toUpperCase())<0))?'text-negative':'text-positive'">{{toCurrency(item.amount)}}</td>
					</tr>
					<tr v-if="transaction.more" @click="transaction.limit+=transaction.pageSize">
						<td colspan="3" class="text-center">more</td>
					</tr>
				</table>
			</template>

			<template v-else-if="page=='statistic'">
				<header class="navbar bg-primary">
					<section class="navbar-section">
						Statistic
					</section>
					<section class="navbar-section">
						<label class="form-label bg-primary" @click="statisticDate=moment(statisticDate).add(-1, 'months')"><i class="icon-arrow-left mr-2"></i></label>
						{{moment(statisticDate).format('MMM YYYY')}}
						<label class="form-label bg-primary" @click="statisticDate=moment(statisticDate).add(-1, 'months')"><i class="icon-arrow-right ml-2"></i></label>
					</section>
				</header>
				<table class="table" @click="modalDifferent.show=true">
					<tr>
						<td class="bg-gray">Overall</td>
						<td class="bg-gray text-right" :class="statistic.balance.Overall<0?'text-negative':'text-positive'">{{toCurrency(statistic.balance.Overall)}}</td>
					</tr>
					<tr v-for="item in lov.account">
						<td>{{item}}</td>
						<td class="text-right" :class="statistic.balance[item]<0?'text-negative':'text-positive'">
							{{toCurrency(statistic.balance[item])}}
							<template v-if="modalDifferent.actual[item]">({{statistic.different[item]}})</template>
						</td>
					</tr>
				</table>
			</template>

			<template v-else-if="page=='cloud'">
				<header class="navbar bg-primary">
					<section class="navbar-section">
							<label class="form-label">Cloud Action</label>
					</section>
				</header>
				<form class="column">
					<div class="pt-4">
						Backup data to Dropbox, or Overwrite local data from cloud, or Merge local data with cloud while display conflicts for further actions.
					</div>

					<div class="columns pt-5">
						<div class="column col-4">Last Action</div><div class="column col-8">: {{cloud.lastAction.time}}</div>
						<div class="column col-4">Action Type</div><div class="column col-8">: {{cloud.lastAction.type}}</div>
						<div class="column col-4">Data Size</div>  <div class="column col-8">: {{cloud.lastAction.size}}</div>
						<div class="column col-4">Duration</div>   <div class="column col-8">: {{cloud.lastAction.duration}}</div>
					</div>

					<div v-if="cloud.error">{{cloud.error}}</div>
				</form>
				<div class="pt-5 btn-group btn-group-block column">
					<button class="btn btn-primary" @click="cloud.backup()" :disabled="filteredTransactions.length==0"><i class="icon-upload-cloud"></i> Push</button>
					<button class="btn btn-primary" @click="cloud.overwrite()"><i class="icon-download-cloud"></i> Pull</button>
					<!--<button class="btn btn-primary" @click="cloud.merge()"><i class="icon-git-merge"></i> Merge</button>-->
				</div>
			</template>

			<div class="tab bg-gray">
				<div class="tab-item text-primary" :class="{'active': page=='new'}" @click="form=byValue(form_reset); form.date=moment().format('YYYY-MM-DDTHH:mm'); page='new';"><i class="icon-file"></i></div>
				<div class="tab-item text-primary" :class="{'active': page=='transactions'}" @click="page='transactions'"><i class="icon-book-open"></i></div>
				<div class="tab-item text-primary" :class="{'active': page=='statistic'}" @click="page='statistic'"><i class="icon-trending-up"></i></div>
				<div class="tab-item text-primary" :class="{'active': page=='cloud'}" @click="page='cloud'"><i class="icon-cloud"></i></div>
			</div>
			
			<div class="modal" :class="{'active':modalDifferent.show}" id="modalDifferent">
				<a class="modal-overlay" @click="modalDifferent.show=false"></a>
				<div class="modal-container pt-3 pb-3">
					<div class="columns pt-1 pb-1" v-for="item in lov.account">
						<div class="column col-6">{{item}}</div>
						<div class="column col-6"><input class="form-input" type="text" v-model="modalDifferent.actual[item]"></div>
					</div>
				</div>
			</div>
		</div>

		<script>
			if('serviceWorker' in navigator) {
				window.addEventListener('load', () => {
					navigator.serviceWorker.register('sw.js');
				});
			}
		</script>

		<script src='lib/vue/vue.js'></script>
		<script src='lib/taffydb/taffy-min.js'></script>
		<script src='lib/moment/moment.min.js'></script>
		<script src='lib/dropbox/Dropbox-sdk.min.js'></script>
		<script src='app.js'></script>
	</body>
</html>