<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
		<title>Singgit</title>
		<link rel="manifest" href="manifest.json">

		<link rel="stylesheet" href="font/icomoon/style.css">
		<link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="lib/clusterize/clusterize.min.css">
		<link rel="stylesheet" href="lib/singgit.css?v0604B">
	</head>
	<body>
		<div id="singgit">
			<div class="tab-content row">
				<div role="tabpanel" class="tab-pane active col-md-4" id="form">
				
					<form id="formTransaction" class="card med-height" autocomplete="off">
						<div class="card-header row">New Transaction</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Amount</label>
							<div class="col-8">
								<div class="input-group">
									<input type="text" class="form-control" id="amount" name="amount">
									<div class="input-group-append pointer">
										<span class="input-group-text" :class="{'negative':isExpenses, 'positive':!isExpenses}" @click="isExpenses=!isExpenses"><i :class="{'icon-minus':isExpenses, 'icon-plus':!isExpenses}"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Description</label>
							<div class="col-8">
								<div class="input-group">
									<input type="text" class="form-control" id="description" name="description">
									<div class="input-group-append">
										<span class="input-group-text favourite" :class="{'active':isFavourite}" @click="isFavourite=!isFavourite"><i class="icon-heart"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Account</label>
							<div class="col-8">
								<select class="form-control" id="account" name="account">
									<option v-for="item in accounts" :value="item">{{item}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Category</label>
							<div class="col-8">
								<select class="form-control" id="category" name="category">
									<option v-for="item in categories" :value="item">{{item}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Transfer To</label>
							<div class="col-8">
								<select class="form-control" id="transfer" name="transfer">
									<option value=""></option>
									<option v-for="item in accounts" :value="item">{{item}}</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-4 col-form-label">Date</label>
							<div class="col-8">
								<input type="date" class="form-control" id="date" name="date">
								<div class="input-group fake-date">
									<input type="date" class="form-control">
									<div class="input-group-append">
										<span class="input-group-text"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="btn-group col-12" role="group">
								<button type="button" class="btn btn-primary col" @click="newTransaction()">New</button>
								<button type="button" class="btn btn-primary col d-none" @click="deleteTransaction()" :class="{'d-inline-block':editItem!=null}">Delete</button>
								<button type="button" class="btn btn-primary col d-none" @click="saveAsTransaction()" :class="{'d-inline-block':editItem!=null}">Save As</button>
								<button type="button" class="btn btn-primary col" @click="saveTransaction()">Save</button>
							</div>
						</div>
					</form>
					
					<div class="card d-none d-md-block mt-30px">
						<div class="card-header row">Utility</div>
						
						<div class="d-block text-center official-color-text">Version</div>
						<div class="d-block text-center">IDX&nbsp;0604B&nbsp;&nbsp;&nbsp;CSS&nbsp;<span id="version_css"></span>&nbsp;&nbsp;&nbsp;JS&nbsp;<span id="version_js"></span></div>
						
						<div class="row mt-4">
							<div class="col text-center">
								<i class="icon-upload-cloud hex-icon"></i>
								<img src="img/hexagon.svg" class="pointer" @click="exportAutocomplete()"></img>
								<div>Export<br>Preset</div>
							</div>
							<div class="col text-center">
								<i class="icon-download-cloud hex-icon"></i>
								<img src="img/hexagon.svg" class="pointer" @click="importAutocomplete()"></img>
								<div>Import<br>Preset</div>
							</div>
							<div class="col text-center">
								<i class="icon-shield hex-icon"></i>
								<img src="img/hexagon.svg" class="pointer" @click="checkForUpdate()"></img>
								<div>Update<br>Version</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane col-md-4 d-md-none" id="utility">
					<div class="card">
						<div class="card-header row">Utility</div>
						
						<div class="d-block text-center official-color-text">Version</div>
						<div class="d-block text-center">IDX&nbsp;0604B&nbsp;&nbsp;&nbsp;CSS&nbsp;<span id="version_css"></span>&nbsp;&nbsp;&nbsp;JS&nbsp;<span id="version_js"></span></div>
						
						<div class="row mt-4">
							<div class="col text-center">
								<i class="icon-upload-cloud hex-icon"></i>
								<img src="img/hexagon.svg" class="pointer" @click="exportAutocomplete()"></img>
								<div>Export<br>Preset</div>
							</div>
							<div class="col text-center">
								<i class="icon-download-cloud hex-icon"></i>
								<img src="img/hexagon.svg" class="pointer" @click="importAutocomplete()"></img>
								<div>Import<br>Preset</div>
							</div>
							<div class="col text-center">
								<i class="icon-shield hex-icon"></i>
								<img src="img/hexagon.svg" class="pointer" @click="checkForUpdate()"></img>
								<div>Update<br>Version</div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane col-md-4" id="transaction">
					<div class="card max-height">
						<div class="card-header row">
							<div class="input-group close-gap">
								<input type="text" class="form-control" v-model="filter_description" @change="clusterize.update(populateData())">
								<div class="input-group-append">
									<span class="input-group-text pointer" data-toggle="modal" data-target="#modalFilter"><i class="icon-filter"></i></span>
								</div>
							</div>
						</div>
						<div id="scrollArea" class="clusterize-scroll">
							<ul id="contentArea" class="list-group clusterize-content"></ul>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane col-md-4" id="statistic">
					<div class="card max-height">
						<div class="card-header row d-flex justify-content-between align-items-center">
							Statistic
							<span>
								<i class="icon-navigation-2 icon-arrow-left p-2" @click="navigateMonth(-1)"></i>
								{{statFilterDesc}}
								<i class="icon-navigation-2 icon-arrow-right p-2" @click="navigateMonth(1)"></i>
							</span>
						</div>
						<div class="statContent">
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center list-header">CURRENT BALANCE <span :class="{positive:accounts_balance_all>=0, negative:accounts_balance_all<0}">{{toCurrency(accounts_balance_all)}}</span></li>
								<li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in accounts">
									{{item}}
									<span :class="{positive:accounts_balance[item]>=0, negative:accounts_balance[item]<0}">{{toCurrency(accounts_balance[item])}}</span>
								</li>
							</ul>
							
							<ul class="list-group mt-3">
								<li class="list-group-item d-flex justify-content-between align-items-center list-header">MONTHLY PERFORMANCE <span :class="{positive:income+expenses>=0, negative:income+expenses<0}">{{toCurrency(income+expenses)}}</span></li>
								<li class="list-group-item d-flex justify-content-between align-items-center" @click="quickFilter('income')">
									Income
									<span :class="{positive:income>=0, negative:income<0}">{{toCurrency(income)}}</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-center" @click="quickFilter('expenses')">
									Expenses
									<span :class="{positive:expenses>=0, negative:expenses<0}">{{toCurrency(expenses)}}</span>
								</li>
							</ul>
							
							<ul class="list-group mt-3">
								<li class="list-group-item list-header">MONTHLY EXPENSES</li>
								<li class="list-group-item d-flex justify-content-between align-items-center" v-for="item in categories" v-if="['Income','Transfer'].indexOf(item)<0" @click="quickFilter(item)">
									{{item}}
									<span :class="{positive:categories_expenses[item]>=0, negative:categories_expenses[item]<0}">{{toCurrency(categories_expenses[item])}}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<ul class="nav nav-pills fixed-bottom border-top d-md-none" role="tablist">
				<li class="nav-item col"><a href="#form" role="tab" data-toggle="pill" class="nav-link text-center active" @click="newTransaction()"><i class="icon-file"></i></a></li>
				<li class="nav-item col"><a href="#transaction" role="tab" data-toggle="pill" class="nav-link text-center"><i class="icon-book-open"></i></a></li>
				<li class="nav-item col"><a href="#statistic" role="tab" data-toggle="pill" class="nav-link text-center"><i class="icon-trending-up"></i></a></li>
				<li class="nav-item col"><a href="#utility" role="tab" data-toggle="pill" class="nav-link text-center"><i class="icon-sliders"></i></a></li>
			</ul>
			
			<div id="modalGeneral" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-body text-center">?</div>
					</div>
				</div>
			</div>
			
			<div id="modalFilter" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<form id="formFilter" class="modal-content">
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-12 col-form-label">Account</label>
								<div class="col-12">
									<select class="form-control" v-model="filter_account">
										<option value=""></option>
										<option v-for="item in accounts" :value="item">{{item}}</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-form-label">Category</label>
								<div class="col-12">
									<select class="form-control" v-model="filter_category">
										<option value=""></option>
										<option v-for="item in categories" :value="item">{{item}}</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-form-label">Date</label>
								<div class="col-6 hyphen">
									<input type="date" id="filter_from" class="form-control" v-model="filter_from">
									<div class="input-group fake-date">
										<input type="date" class="form-control">
										<div class="input-group-append">
											<span class="input-group-text"><i class="icon-calendar"></i></span>
										</div>
									</div>
								</div>
								<div class="col-6">
									<input type="date" id="filter_to" class="form-control" v-model="filter_to">
									<div class="input-group fake-date">
										<input type="date" class="form-control">
										<div class="input-group-append">
											<span class="input-group-text"><i class="icon-calendar"></i></span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-form-label">Type</label>
								<div class="col-12">
									<select class="form-control" v-model="filter_type">
										<option value=""></option>
										<option value="income">Income</option>
										<option value="expenses">Expenses</option>
									</select>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" @click="resetFilter()">Clear</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			var registration = null;
			if('serviceWorker' in navigator) {
				navigator.serviceWorker.register('service-worker.js').then(function(registration) {
					this.registration = registration;
				});				
			}
		</script>
		
		<script src="lib/jquery/jquery-3.2.1.slim.min.js"></script>
		<script src="lib/firebase/firebase.js"></script>
		<script src="lib/firebase/firebase-firestore.js"></script>
		<script src="lib/bootstrap/popper.min.js"></script>
		<script src="lib/bootstrap/bootstrap.min.js"></script>
		<script src="lib/moment/moment.min.js"></script>
		<script src="lib/vue/vue.js"></script>
		<script src="lib/clusterize/clusterize.min.js"></script>
		<script src="lib/jquery.autocomplete/jquery.autocomplete.min.js"></script>
		<script src="lib/singgit.js?v0604B"></script>
	</body>
</html>