@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?n342gp') format('truetype'),
    url('fonts/icomoon.woff?n342gp') format('woff'),
    url('fonts/icomoon.svg?n342gp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-book-open:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-download-cloud:before {
  content: "\e904";
}
.icon-file:before {
  content: "\e905";
}
.icon-filter:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e90a";
}
.icon-trash-2:before {
  content: "\e90b";
}
.icon-trending-up:before {
  content: "\e90c";
}
.icon-upload-cloud:before {
  content: "\e90d";
}
